footer {
    position: sticky;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background: linear-gradient(90deg,rgb(0, 0, 0) 0%, rgb(11, 11, 11) 50%, rgb(20, 20, 20) 100%);
    text-align: center;
}

/* .footerContent{
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
} */